@model BAG.Models.U_ADMIN_Members[]
<div class="right_col" role="main">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="count">@Model.Count()</div>
                    <h3>Sub Admin</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="count">0000</div>
                    <h3>Active Members</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="count">0000</div>
                    <h3>Blocked Members</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="count">179</div>
                    <h3>Support Tickets</h3>
                </div>
            </div>
        </div>
        <div class="">
            <div class="clearfix"></div>
            <div class="panel panel-default">
                <div class="panel-heading" id="panelbackcolor">
                    <form class="form" role="search">
                        <span style="position:relative;top:8px;">&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Sub Admin details</span>
                        <div class="input-group add-on pull-right" style="position:relative;top:8px;">
                            <a href='@Url.Action("AddSubAdmin", "SubAdmin")' type="button" class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; New User</a>
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                            <thead class="thd">
                                <tr>
                                    <th class="headeralign" data-sortable="true">First Name</th>
                                    <th class="headeralign" data-sortable="true">Last Name</th>
                                    <th class="headeralign" data-sortable="true">Gender</th>
                                    <th class="headeralign" data-sortable="true">Email Id</th>
                                    <th class="headeralign" data-sortable="true">Account Status</th>
                                    <th class="headeralign" data-sortable="true">View More</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td align="center">@item.FirstName</td>
                                        <td align="center">@item.LastName</td>
                                        <td align="center">@item.Gender</td>
                                        <td align="center">@item.Email</td>
                                        <td align="center" style="text-align :center">
                                            @if (@item.LoginStatus == 1)
                                            {

                                                <span class="label label-success" align="center" style="vertical-align:middle;">Active</span>
                                            }
                                            else
                                            {
                                                <span class="label label-warning" align="center" style="vertical-align:middle;">Blocked</span>
                                            }
                                        </td>
                                        <td align="center" style="text-align :center"><a class="btn btn-default btn-xs" href='@Url.Action("SubAdminProfile", "SubAdmin", new { Id = item.UserId})'>View More</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                <div>
                </div>
            </div>
        </div>
    </div>
</div>
