@model BAG.Models.U_ADMIN_Members[]

<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="count">@Model.Count()</div>
                <h3>Total Members</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Active Members</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Blocked Members</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-support fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Support Tickets</h3>
            </div>
        </div>
    </div>
    <div>
        <div class="clearfix"></div>
        <div class="panel panel-default">
            <div class="panel-heading" id="panelbackcolor">Member Details</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-md-offset-9">
                        <form class="navbar-form" role="search" style="margin-bottom:0px;margin-top:0px;">
                            <div class="input-group add-on">
                                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <div class="table-responsive table-fixed col-md-12  ">
                                <table id="datatable" class="table table-responsive table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="headeralign">First Name</th>
                                            <th class="headeralign">Last Name</th>
                                            <th class="headeralign">Gender</th>
                                            <th class="headeralign">Email Id</th>
                                            <th class="headeralign">Account Status</th>
                                            <th class="headeralign">View More</th>
                                            <th class="headeralign">Edit</th>
                                            <th class="headeralign">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td align="center">@item.FirstName</td>
                                                    <td align="center">@item.LastName</td>
                                                    <td align="center">@item.Gender</td>
                                                    <td align="center">@item.Email</td>
                                                    <th align="center" style="text-align :center">
                                                        @if (@item.LoginStatus == 1)
                                                        {
                                                            <span class="label label-success" align="center" style="vertical-align:middle;">Active</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-warning" align="center" style="vertical-align:middle;">Blocked</span>
                                                        }
                                                    </th>
                                                    <th align="center" style="text-align :center"><a class="btn btn-default btn-xs" href='@Url.Action("MemberDetails", "Members", new { Id = item.UserId})'>View Details</a></th>
                                                    <th align="center" style="text-align :center"><a class="btn btn-default btn-xs" href='@Url.Action("EditMember", "Members", new { Id = item.UserId})'>Edit</a></th>
                                                    <th align="center" style="text-align :center">
                                                        @if (@item.LoginStatus == 1)
                                                        {    
                                                            <a class="btn btn-default btn-xs" href='@Url.Action("Block", "Members", new { Id = item.UserId})'> Block</a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-default btn-xs" href='@Url.Action("Unblock", "Members", new { Id = item.UserId})'> Unblock</a>
                                                        }
                                                    </th>
                                                </tr>
                                             }
                                    </tbody>
                                </table>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
