@model BAG.Models.U_ADMIN_Members[]

<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="count">@Model.Count()</div>
                <h3>Total Members</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Active Members</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Blocked Members</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-support fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Support Tickets</h3>
            </div>
        </div>
    </div>
    <div>
        <div class="clearfix"></div>
        <div class="panel panel-default">
            <div class="panel-heading" id="panelbackcolor">&nbsp;<i class="fa fa-users"></i>&nbsp;Member Details</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <div class="table-responsive table-fixed col-md-12">
                                <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                    <thead class="thd">
                                        <tr>
                                            <th class="headeralign" data-sortable="true">First Name</th>
                                            <th class="headeralign" data-sortable="true">Last Name</th>
                                            <th class="headeralign" data-sortable="true">Gender</th>
                                            <th class="headeralign" data-sortable="true">Email Id</th>
                                            <th class="headeralign" data-sortable="true">Account Status</th>
                                            <th class="headeralign" data-sortable="true">View More</th>
                                            <th class="headeralign" data-sortable="true">Edit</th>
                                            <th class="headeralign" data-sortable="true">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td align="center">@item.FirstName</td>
                                                <td align="center">@item.LastName</td>
                                                <td align="center">@item.Gender</td>
                                                <td align="center">@item.Email</td>
                                                <td align="center" style="text-align :center">
                                                    @if (@item.LoginStatus == 1)
                                                    {
                                                        <span class="label label-success" align="center" style="vertical-align:middle;">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-warning" align="center" style="vertical-align:middle;">Blocked</span>
                                                    }
                                                </td>
                                                <td align="center" style="text-align :center"><a class="btn btn-default btn-xs" href='@Url.Action("MemberDetails", "Members", new { Id = item.UserId})'>View Details</a></td>
                                                <td align="center" style="text-align :center"><a class="btn btn-default btn-xs" href='@Url.Action("EditMember", "Members", new { Id = item.UserId})'>Edit</a></td>
                                                <td align="center" style="text-align :center">
                                                    @if (@item.LoginStatus == 1)
                                                    {
                                                        <a class="btn btn-default btn-xs" href='@Url.Action("Block", "Members", new { Id = item.UserId})'> Block</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-default btn-xs" href='@Url.Action("Unblock", "Members", new { Id = item.UserId})'> Unblock</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
