@model BAG.Models.DashboardGroup
<div class="right_col" role="main">
    <br />
    <div class="">
        <div class="row top_tiles">
            <a href='@Url.Action("Index", "Members")'>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="count">@Model.Totals.TotalMembers</div>
                        <h3>Total Members</h3>
                    </div>
                </div>
            </a>
            <a href='@Url.Action("Index", "Events")'>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <div class="count">@Model.Totals.TotalEvents</div>
                        <h3>Total Events</h3>
                    </div>
                </div>
            </a>
            <a href='@Url.Action("Index", "GiftItems")'>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="count">@Model.Totals.TotalItems</div>
                        <h3>Total Gift Items</h3>
                    </div>
                </div>
            </a>
            <a href='@Url.Action("Index", "Vendors")'>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-black-tie"></i>
                        </div>
                        <div class="count">@Model.Totals.TotalVendors</div>
                        <h3>Total Vendors</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Recent 5 Members</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @foreach (var item in Model.Members)
                        {
                            <a href='@Url.Action("MemberDetails", "Members", new { Id = item.Member_Id})'>
                                <article class="media event">
                                    <div class="pull-left date">
                                        <p class="month">@item.Member_CreatedDate.ToString("MMM")</p>
                                        <p class="day">@item.Member_CreatedDate.ToString("dd")</p>
                                    </div>
                                    <div class="media-body">
                                        <p><strong>@item.Member_Name</strong></p>
                                        <p>@item.Member_EmailId</p>
                                    </div>
                                </article>
                            </a><br>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Recent 5 Events</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @foreach (var item in Model.Events)
                        {
                            <a href='@Url.Action("EventProfile", "Events", new { Id = item.Event_Id})'>
                                <article class="media event">
                                    <div class="pull-left date">
                                        <p class="month">@item.Event_CreateDate.ToString("MMM")</p>
                                        <p class="day">@item.Event_CreateDate.ToString("dd")</p>
                                    </div>
                                    <div class="media-body">
                                        <p><strong>@item.Event_Name</strong></p>
                                        <p>@item.Event_Organizer</p>
                                    </div>
                                </article>
                            </a><br>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Recent 5 Vendors</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @foreach (var item in Model.Vendors)
                        {
                            <a href='@Url.Action("VendorsProfile", "Vendors", new { Id = item.Vendor_Id})'>
                                <article class="media event">
                                    <div class="pull-left date">
                                        <p class="month">@item.Vender_CreateDate.ToString("MMM")</p>
                                        <p class="day">@item.Vender_CreateDate.ToString("dd")</p>
                                    </div>
                                    <div class="media-body">
                                        <p><strong>@item.Vendor_ShopName</strong></p>
                                        <p>@item.Vendor_Name</p>
                                    </div>
                                </article>
                            </a><br>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>