@model BAG.Models.A_ADM_Coupon_Ref[]

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
        $(".dropdown-menu li a").click(function () {
            var selText = $(this).text();
            $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
        });

        $("#btnSearch").click(function () {
            alert($('.btn-select').text() + ", " + $('.btn-select2').text());
        });
</script>
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="count">asdf</div>
                <h3>Total Coupons</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-check-circle fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Active Coupons</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-thumbs-o-down fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Closed Coupens</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class=" fa fa-spinner fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Blocked Coupens</h3>
            </div>
        </div>
    </div>
 

    <div class="panel panel-default">
        <div class="panel-heading" id="panelbackcolor">
            <form class="form" role="search">
                <span style="position:relative;top:8px;">&nbsp;<i class="fa fa-shopping-cart"></i>&nbsp;Cupon details</span>
                <div class="input-group add-on pull-right" style="position:relative;top:8px;">
                    <a href='@Url.Action("CreateCoupon", "Coupon")' type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</a>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <div class="row able-responsive tablealign">
                <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead class="thd">
                        <tr>
                            <th class="headeralign" data-sortable="true">Coupon Name</th>
                            <th class="headeralign" data-sortable="true">Start Date</th>
                            <th class="headeralign" data-sortable="true">End Date</th>
                            <th class="headeralign" data-sortable="true">Status</th>
                            <th class="headeralign" data-sortable="true">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in Model)
                        {
                            <tr>
                                <td align="center" style="vertical-align:middle;">@items.Coupon_Name</td>
                                <td align="center" style="vertical-align:middle;">@items.Coupon_StartDate.ToString("dd/MM/yyyy")</td>
                                <td align="center" style="vertical-align:middle;">@items.Coupon_EndDate.ToString("dd/MM/yyyy")</td>
                                <td align="center" style="vertical-align:middle;">
                                    @if (@items.Coupon_Status == "1")
                                    {
                                        <span class="label label-success">Open</span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning">Closed</span>
                                    }
                                </td>
                                <td align="center" style="vertical-align:middle;"><a href='@Url.Action("CouponDetails", "Coupon", new { Id = items.Coupon_Id})' class="btn btn-default">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>



