@model BAG.Models.A_ADM_ITEM_MASTER
@{
    ViewBag.Title = "AddItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-8 shadow col-md-offset-2">
            <div class="panel panel-default">
                

                <div class="panel-heading panelPading" id="panelbackcolor">
                    &nbsp;<i class="fa fa-pencil-square-o"></i>&nbsp;Edit Items Details

                </div>


                @using (Html.BeginForm("UpdateItem", "GiftItems", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.TextBoxFor(m => m.Item_ID, new { @type = "hidden" })
                <div class="panel-body" style="background-color:whitesmoke;">
                    <div id="custom-search-inputb">
                        <div class="form-group  col-md-offset-3 col-md-5">
                            @Html.TextBoxFor(m => m.Item_Name, new { @class = "form-control search-query form-control", @placeholder = "Enter Item Name" })
                        </div>
                    </div>
                    <div id="custom-search-inputb">
                        <div class="form-group  col-md-offset-3 col-md-5">
                            @Html.TextBoxFor(m => m.Item_Price, new { @class = "form-control search-query form-control", @placeholder = "Enter Item Price" })
                        </div>
                    </div>
                    <div id="custom-search-inputb">
                        <div class="form-group  col-md-offset-3 col-md-5">
                            @Html.TextAreaFor(m => m.Item_Desc, new { @class = "form-control search-query form-control", @rows = "3", @placeholder = "Enter the short description of an Item" })
                        </div>
                    </div>
                    <div id="custom-search-inputb ">
                        <div class="form-group  col-md-offset-3 col-md-5">
                            <input type="file" id="newImg" name="newImg" accept="image/*" onchange="loadFile(event)" />
                            <img id="imgPreview" src='@Model.Item_PicUrl' alt="your Image Preview" height="100" width="100" />
                        </div>
                    </div>
                    <div id="custom-search-inputb ">
                        <div class="form-group  col-md-offset-3 col-md-5">
                            <p id="ErrorMsg"></p>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-6 col-sm-6 col-md-offset-3" id="register-submit" style="position:relative;top:10px;">
                        <button onclick="javascript:UpdateItemsSubmit();" type="submit" class="btn btn-primary btn-md">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-default buttoncolor " data-backdrop="static" data-keyboard="false">Cancel</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function UpdateItemsSubmit() {
        /*
         var status = 0;
        var NewItem = document.getElementById("NewItem").value;
        var ItemPrice = document.getElementById("ItemPrice").value;
        var Img = document.getElementById("newImg").value;
        var errmsg = document.getElementById("ErrorMsg");

        if (NewItem == "" || !isNaN(NewItem)) {
            errmsg.innerHTML = "Invalid Item Name..!";
        } else if (ItemPrice == "" || isNaN(ItemPrice)) {
            errmsg.innerHTML = "Invalid Item Price..!";
        } else if (Img == "") {
            errmsg.innerHTML = "Invalid Item Picture..!";
        }
        else {
            errmsg.innerHTML = "";
            status = 1;
        }
        if (status == 1) {

        }
        */
    }

    function loadFile(event) {
        var output = document.getElementById('imgPreview');
        output.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
