@model BAG.Models.A_ADM_ITEM_MASTER[]
@{
    ViewBag.Title = "Gift Items Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Total Events</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Active Events</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Blocked Events</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-support fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Today's Events</h3>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel panel-default">
        <div class="panel-heading panelPading" id="panelbackcolor">
            &nbsp;<i class="fa fa-gift"></i>&nbsp;Gift Items Details
            <div class="input-group add-on pull-right">
                <a href='@Url.Action("AddItems", "GiftItems")' type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; New Items
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row table-responsive tablealign">
                <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead class="thd">
                        <tr>
                            <th class="headeralign" data-sortable="true">Item Picture</th>
                            <th class="headeralign" data-sortable="true">Item Name</th>
                            <th class="headeralign" data-sortable="true">Item Price</th>
                            <th class="headeralign" data-sortable="true">Item Status</th>
                            <th class="headeralign" data-sortable="true">View More</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in Model)
                        {


                            <tr>
                                <td align="center"><a href='@Url.Action("ItemDetails", "GiftItems", new { Id = items.Item_ID})'><img src='@items.Item_PicUrl' alt="connot displayed" class="img-responsive img-zoom" style="height:50px;"></a></td>
                                <td align="center" style="vertical-align:middle;">@items.Item_Name</td>
                                <td align="center" style="vertical-align:middle;">@items.Item_Price</td>
                                <td align="center">
                                    @if (@items.Item_Status == "1")
                                    {
                                        <span class="label label-success" align="center" style="vertical-align:middle;">Active</span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning" align="center" style="vertical-align:middle;">Blocked</span>
                                    }
                                </td>
                                <td align="center">
                                    <button class="btn btn-default  btn-xs buttoncolor  " onclick="parent.location = '@Url.Action("ItemDetails", "GiftItems", new { Id = items.Item_ID})'">View More </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
