@model BAG.Models.U_EVNT_MASTER[]

<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="count">@Model.Count()</div>
                <h3>Total Events</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Active Events</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Blocked Events</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-support fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Today's Events</h3>
            </div>
        </div>
    </div>
    <div class="">
        <div class="clearfix"></div>
        <div class="panel panel-default">
            <div class="panel-heading" id="panelbackcolor">&nbsp;<i class="fa fa-tasks"></i>&nbsp;Events Details</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <div class="table-responsive table-fixed col-md-12  ">
                                <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                    <thead class="thd">
                                        <tr>
                                            <th class="headeralign" data-sortable="true">Event Name</th>
                                            <th class="headeralign" data-sortable="true">Event Start Date</th>
                                            <th class="headeralign" data-sortable="true">Event End Date</th>
                                            <th class="headeralign" data-sortable="true">Event Location</th>
                                            <th class="headeralign" data-sortable="true">Event Status</th>
                                            <th class="headeralign" data-sortable="true">View More</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td align="center">@item.Event_Name</td>
                                                <td align="center">@item.Event_StartDate.ToString("dd/MM/yyyy")</td>
                                                <td align="center">@item.Event_EndDate.ToString("dd/MM/yyyy")</td>
                                                <td align="center">@item.Even_Location</td>
                                                <td align="center">
                                                    @if (item.Event_Status == "1")
                                                    {
                                                        <span class="label label-success" align="center" style="vertical-align:middle;">Open</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-warning" align="center" style="vertical-align:middle;">Closed</span>
                                                    }
                                                </td>
                                                <td align="center"><p data-placement="top" data-toggle="tooltip"><a class="btn btn-default  btn-xs buttoncolor" href='@Url.Action("EventProfile", "Events", new { Id = item.Event_Id})'> View More </a></p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






